// Place all the styles related to the Employees controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

img {
    width: 300px;
    height: 400px;
}

h3 {
    padding: 10px;
    text-align: center;
    max-width: 450px;
    margin: 5px auto;
}
.index_container {
    background: #6a8db9;
    border-radius: 5px;
}

.index_container:hover {
    color: #fff;
}
a {
    text-decoration: none;
    color: rgb(71, 71, 71);
}

.button {
    padding: 15px;
    text-align: center;
    max-width: 450px;
    margin: 35px auto;
    background: #6a8db9;
    border-radius: 5px;
    font-size: 22px;
    color:white;
}

input {
    margin: 5px;
    padding: 5px;
}